<div class="col-xs-10 col-xs-offset-1 about">
  <h1>About Quotalicious</h1>
  <br />
  <p>Quotalicious is a database powered random quotes generator, powered by Ruby on rails. Right now I am just following along and taking in as much as I can. Come back later for some more quotes and an updated about.
  </p>
  <br />

  <div class="col-xs-12 col-sm-4">
    <%= image_tag 'cort.jpg', class: 'img-responsive', style: 'max-height:600px' %>
  </div>
    
  <div class="col-xs-12 col-sm-7 col-sm-offset-1">
    <h2 class="text-centered">Cort Ferguson</h2>
    <br />
    <p>
      I am an upcoming web developer, learning the ropes as I go. I am proficient in html, css, photoshop, javascript, and jquery, with a little experience with ruby/rails, and I am learning more and more everyday. I can set up the landing page for your business, help design your logo, all you need to do is ask. If you have any questions contact me through e-mail (98cort@gmail.com) or follow me on twitter (@Cort98).
    </p>
  </div>
</div>

 <br class="clear" />
 <br />
 <br />
 <br />